<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kWldhDataKeyServerAddress</key>
	<string>http://202.105.136.106:44444</string>
	<key>kBrandid</key>
	<string>glcs</string>
</dict>
</plist>
